.nav-bar {
            background-color: #D3D3D3;
            padding: 10px;
        }

        .nav-list {
            list-style: none;
           
        }

        .nav-item {
            display: inline;
            margin-right: 1rem;
        }